* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 280px;
	/* overflow: hidden; */
}

.scrollar::-webkit-scrollbar {
	width: 3px;
}
.scrollar::-webkit-scrollbar-track {
	background: rgb(216, 210, 210);
}
.scrollar::-webkit-scrollbar-thumb {
	background: rgb(122, 126, 122);
}

.scrollar-m::-webkit-scrollbar {
	width: 1px;
}
.scrollar-m::-webkit-scrollbar-track {
	background: rgb(216, 210, 210);
}
.scrollar-m::-webkit-scrollbar-thumb {
	background: rgb(122, 126, 122);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
