:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --section-max-width-1: 1700px;
  --section-max-width-2: min(var(--section-max-width-1) - 160px, 100% - var(--padding-inline) * 2);
  --padding-inline: 80px;
  --margin-block: 96px;
  --header-height: 96px;
  --padding-block: 60px;

  --white: #F2F4F7;
  --black: #000;
  --black2: #0E0E0E;
  --black3: #141414;
  --black-linear-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 84.45%);

  --lime5: #B6F961;
  --lime5-transparent: #C9FF85;

  --green7: #1A897C;
  --green9: #0D453E;
  --green9-transparent: rgba(201, 201, 201, 0.05);

  --grey4: #98A2B3;
  --grey5: #70707B;
  --grey6: #51525C;
  --grey700: #3F3F46;
  --grey800: #26272B;

  --252525: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}