* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 300px;
}

body::-webkit-scrollbar {
	width: 6px;
}
body::-webkit-scrollbar-track {
	background: rgb(216, 210, 210);
}
body::-webkit-scrollbar-thumb {
	background: rgb(122, 126, 122);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
